[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
doit = "*"
telebot = "*"
instaloader = "*"
yt-dlp = "*"
flake8 = "*"
pycodestyle = "*"
pydocstyle = "*"
babel = "*"

[dev-packages]

[requires]
python_version = "3.13"
